<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CourseCreatorFilter</filter-name>
        <filter-class>Filter.CourseCreatorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AuthorizationSettingController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CourseCreatorFilter</filter-name>
        <servlet-name>AddCourseController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CourseCreatorFilter</filter-name>
        <servlet-name>AddCourseController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CourseCreatorFilter</filter-name>
        <servlet-name>FlashCardListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CourseCreatorFilter</filter-name>
        <servlet-name>FlashCardSetting</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CourseCreatorFilter</filter-name>
        <servlet-name>AddFlashcardController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisionController</servlet-name>
        <servlet-class>Controller.RevisionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisionQuestionController</servlet-name>
        <servlet-class>Controller.RevisionQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>Controller.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlashcardController</servlet-name>
        <servlet-class>Controller.Flashcard.AddFlashcardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>Controller.Question.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseController</servlet-name>
        <servlet-class>Controller.Course.AddCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamController</servlet-name>
        <servlet-class>Controller.Exam.ExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlashCardController</servlet-name>
        <servlet-class>Controller.FlashCardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultController</servlet-name>
        <servlet-class>Controller.Exam.ResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailSettingController</servlet-name>
        <servlet-class>Controller.Course.CourseDetailSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionSettingController</servlet-name>
        <servlet-class>Controller.Question.QuestionSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>Controller.Question.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnswerController</servlet-name>
        <servlet-class>Controller.Answer.DeleteAnswerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExamController</servlet-name>
        <servlet-class>Controller.Exam.CreateExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayExamQuestionController</servlet-name>
        <servlet-class>Controller.Exam.DisplayExamQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveExamQuestionController</servlet-name>
        <servlet-class>Controller.Exam.RemoveExamQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaderboardController</servlet-name>
        <servlet-class>Controller.Leaderboard.LeaderboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controller.User.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationSettingController</servlet-name>
        <servlet-class>Controller.AuthorizationSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseLibraryController</servlet-name>
        <servlet-class>Controller.Course.CourseLibraryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlashCardListController</servlet-name>
        <servlet-class>Controller.Flashcard.FlashCardListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlashCardSetting</servlet-name>
        <servlet-class>Controller.Flashcard.FlashCardSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionController</servlet-name>
        <servlet-class>Controller.Question.DeleteQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>Controller.ItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseDifficultyController</servlet-name>
        <servlet-class>Controller.ChooseDifficultyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveExam</servlet-name>
        <servlet-class>Controller.Exam.RemoveExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExamQuestionController</servlet-name>
        <servlet-class>Controller.Exam.AddExamQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExamController</servlet-name>
        <servlet-class>Controller.Exam.EditExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExamQuestionController</servlet-name>
        <servlet-class>Controller.Exam.UpdateExamQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>Controller.Course.ReviewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/chgpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlashcardController</servlet-name>
        <url-pattern>/flashcard/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/question/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseController</servlet-name>
        <url-pattern>/course/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamController</servlet-name>
        <url-pattern>/exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisionController</servlet-name>
        <url-pattern>/revision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisionQuestionController</servlet-name>
        <url-pattern>/revision/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultController</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlashCardController</servlet-name>
        <url-pattern>/flashcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailSettingController</servlet-name>
        <url-pattern>/coursesetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionSettingController</servlet-name>
        <url-pattern>/questionsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/questionupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnswerController</servlet-name>
        <url-pattern>/deleteanswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExamController</servlet-name>
        <url-pattern>/createexam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayExamQuestionController</servlet-name>
        <url-pattern>/displayexamquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveExamQuestionController</servlet-name>
        <url-pattern>/removeexamquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaderboardController</servlet-name>
        <url-pattern>/leaderboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationSettingController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseLibraryController</servlet-name>
        <url-pattern>/course/library</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlashCardListController</servlet-name>
        <url-pattern>/flashcard/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlashCardSetting</servlet-name>
        <url-pattern>/flashcard/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveExam</servlet-name>
        <url-pattern>/removeexam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExamQuestionController</servlet-name>
        <url-pattern>/addexamquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExamController</servlet-name>
        <url-pattern>/editexam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionController</servlet-name>
        <url-pattern>/deletequestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseDifficultyController</servlet-name>
        <url-pattern>/choosediff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExamQuestionController</servlet-name>
        <url-pattern>/updateexamquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
