<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CourseCreatorFilter</filter-name>
        <filter-class>Filter.CourseCreatorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CourseCreatorFilter</filter-name>
        <servlet-name>AddCourseController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CourseCreatorFilter</filter-name>
        <servlet-name>AddQuestionController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CourseCreatorFilter</filter-name>
        <servlet-name>AddFlashcardController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>HomeController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>ExamController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisionController</servlet-name>
        <servlet-class>Controller.RevisionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisionQuestionController</servlet-name>
        <servlet-class>Controller.RevisionQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>Controller.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlashcardController</servlet-name>
        <servlet-class>Controller.Flashcard.AddFlashcardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>Controller.Question.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseController</servlet-name>
        <servlet-class>Controller.Course.AddCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamController</servlet-name>
        <servlet-class>Controller.Exam.ExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlashCardController</servlet-name>
        <servlet-class>Controller.FlashCardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/chgpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlashcardController</servlet-name>
        <url-pattern>/flashcard/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/question/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseController</servlet-name>
        <url-pattern>/course/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamController</servlet-name>
        <url-pattern>/exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisionController</servlet-name>
        <url-pattern>/revision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisionQuestionController</servlet-name>
        <url-pattern>/revision/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlashCardController</servlet-name>
        <url-pattern>/flashcard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
