body{
    text-align: center;
}
.columns{
    margin-top: 50px;
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
}

.column {

    flex: 1 0 20%; 
    margin: 10px;
    height: 500px;
    border-radius: 25px;
    opacity: 0.7;
    box-shadow: 2px 2px 20px grey;
}

#img2{
    max-height: 500px;
    max-width: 200px;
    
   
}
.block1 {
    border-radius: 12px;
  display: block;
  width: 100%;
  border: none;
  background-color: green;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block1:hover {
 background-color: black;
  color: white;
}
.block2 {
    border-radius: 12px;
  display: block;
  width: 100%;
  border: none;
  background-color: yellow;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.block2:hover {
  background-color: black;
  color: white;
}
.block3 {
    border-radius: 12px;
  display: block;
  width: 100%;
  border: none;
  background-color: orange;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block3:hover {
  background-color: black;
  color: white;
  
}
.block4 {
  
    border-radius: 12px;
  display: block;
  width: 100%;
  border: none;
  background-color: red;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block4:hover {
  background-color: black;
  color: white;
}