/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2022, 1:07:17 AM
    Author     : sioni
*/
body{
    background-image: url(../img/backgroundnight.png);
    background-color: #cccccc;
    background-attachment: fixed;
    
}
.header{


}
.container{  
    margin-top: 30px;
    margin-left: 5%;
}

.course_name{
    color: white;
    font-family: "courseName";
    margin-bottom: 0px;
}

.rating{
    color: gray;
}
.ratin-review{
    color:black;
}
.creator_link{
    color: rgb(75, 91, 201);
}
img.course_image{
    width: 100%;
    height:auto;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.card.professor:hover {
    box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
}
.profession{
    color:gray;
    font-family: "textFont";
}
.card.description{
    object-fit: contain;
    background-color: rgba(255, 255, 255,.4);
}
.card.professor{
    object-fit: contain;
}
.card-title.description{
    color:white;
    font-family: "textFont";
}
@font-face {
    font-family: "courseName";
    src: url('../font/Game Of Squids.woff2') format('woff2');
}

@font-face {
    font-family: "textFont";
    src: url('../font/BigSpace-rPKx.woff2') format('woff2');
}
.card-text{
    font-family: "textFont";
}
.card-text.review{
    border: none;
    outline: none;
    background: transparent;
    width:100%;
}
.col-2.edit-button{
    text-align: right;
}
.card-title{
    font-family: "textFont";
}

.btn.btn-primary{
    color:rgb(81, 66, 245);
    margin-top: 10px;
    margin-bottom: 10px;
}
.buttons{
    text-align: center;
}
.button-content{
    color:white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}
.card.review{
    background-color: rgba(255, 255, 255,.4);
    margin-top: 30px;
    font-family: "textFont";
}
.card.review-content{
    margin-top: 15px;
    background-color: rgba(255, 255, 255,.6);
    font-family: "textFont";
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin : 0 !important;
}
.rate-person{
    color:gray;
    font-size: 15px;
}
.btn.btn-outline-primary.post{
    margin-top: 10px;
}

.col-11.username{
    padding-top: 10px;
}
.line{
    width: 100%;
    position: inherit;
    border-bottom: 2px solid gray;
}
.percentComplete{
    font-size: 12px;
    color: gray;
}
#progress{
    padding-top: 3vh;
    width: 10vw;
    text-align:center
}
#progress:hover + .hide {
    display: block;
}
.hide{
    display: none;
    font-size: 15px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: yellow;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: yellow;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}