/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2022, 10:26:10 PM
    Author     : Linhnvhdev
*/
html {
  height: 100%;
}
body{
      margin: 0;
  padding: 0;
  background-color: #000e2a;
}



.main-content{
    display: flex;
}

.left{
    padding:310px;
    background-color: darkgray;
    flex:50%;
}

.right{
    padding:310px;
    background-color: grey;
    flex:50%;
}

.footer{
    background-color: #aaff44;
    height:100px;
}
.table{
    margin-left: 35%;
    font-size: 130%;


}
.column {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
background-color: grey;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

.img_container {
  width: 70vw;
  height: 80vh;
  margin: 20px auto;
  display: flex;
}

.main-img {
  width: 50%;
  height: 100%;
  margin-right: 10px;

}

@media (max-width: 991px) {
  .main-img {
    width: 100%;
    height: 100%;
  }
}

.stacked-div {
  width: 50%;
  height: 100%;
}

@media (max-width: 1000px) {
  .stacked-div {
    width: 100%;
    height: 100%;
  }
}


.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img:hover .overlay,
.bottom-img:hover .overlay {
  opacity: 5;
}

.bottom-img {
  width: 10%;
  height: 10%;
  height: calc(50% - 5px);
  background-color: orangered;
}
.top-img {
    margin-top:82px;
  width: 100%;
  height: calc(50% - 5px);
  background-color: white;
}

hr.new1 {
  border-top: 3px solid white;
}
.center{
    margin-left:10%;
}
.card-container, .front, .back {
	width: 40rem;
	height: 40rem;
}
.card-container {
	margin-right: 5rem;
        margin-top:5rem;
}
.front, .back {
	box-sizing: border-box;
	padding: 2rem;
	border-radius: 4px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .25);

	font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
/* front side bg is green gradient */ .front {
	background-image: linear-gradient(to right bottom, #9db3a6, #7b8780);
}
/* back side bg is orange gradient */ .back {
	background-image: linear-gradient(to right bottom, #979951, #90946f);
}

.card-container {
	position: relative;
}
.front, .back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	overflow: hidden;
	transition: transform .8s ease;
}

.back {
	transform: rotateY(180deg);
}
.card-container:hover .front {
	transform: rotateY(-180deg);
}
.card-container:hover .back {
	transform: rotateY(0deg);
}

.card-container {
	perspective: 75rem;
}
.top-img{
    background-color: #000e2a;
    margin-left: 200px;
}