/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2022, 11:17:33 AM
    Author     : Admin
*/
body,html{
    margin: 0;
    background-color:#DDDDDD;
    display: flex;
    flex-direction: column;
     background-image: url(../img/backgroundnight.png);
}

.container{
    width: 280px;
    position: absolute;
    top: 44%;
    left:42%;

}
.success{
    color: green;

}
.fail{
    color: red;
     margin-left: 20%;
}
.textbox{
    border-radius: 6px;
}
.continue{
     border-radius: 6px;
     margin-left: 1.5%;
}
.login a{
    margin-left: 100px;
    left: 50px;
}
.box{
    display: flex;
    flex-direction: column;
}
.box input[type="text"]{
    border-radius: 10px;
}
::placeholder { 
    padding: 0 70px;
}body {
    background-color: #17c0eb;
    font-family: Nunito Sans;
}
.btn {
    background-color: #17c0eb;
    width: 100%;
    color: #fff;
    padding: 10px;
    font-size: 18px;
}
.btn:hover {
    background-color: #2d3436;
    color: #fff;
}
input {
    height: 50px !important;
    width: 96.5%;
}
.form-control:focus {
    border-color: #18dcff;
    box-shadow: none;
}
h3 {
    color: #17c0eb;
    font-size: 36px;
}
.cw {
    width: 35%;
}
@media(max-width: 992px) {
    .cw {
        width: 60%;
    }
}
@media(max-width: 768px) {
    .cw {
        width: 80%;
    }
}
@media(max-width: 492px) {
    .cw {
        width: 90%;
    }
}
