body{
    background-image: url(../img/home.jpg);
    background-color: #cccccc;
    background-attachment: fixed;
    background-size: 100%;

}
#space{
    text-align: right;
    margin-right: 7%;
    margin-bottom: 0 !important;
}
@font-face {
    font-family: "courseName";
    src: url('../font/Game Of Squids.woff2') format('woff2');
}
.user-info{
    position: absolute;
    left:8vw;
    top:15vw;
    height: 70%;
    width: 50%;
    border-radius: 10px;
    /*    background-color: rgba(255,255,255,0.4);*/
}
.course-list{
    position: absolute;
    right: 8vw;
    top:15vw;
    height:70%;
    width: 30%;
    border-radius: 10px;
/*    background-color: rgba(255,255,255,0.4);*/
    text-align: center;
}
.image{
    position: inherit;
    padding-top:5%;
    padding-bottom: 5%;
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;


}
.player-img{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
.detail{
    position: inherit;
    padding-top:5%;
    padding-bottom: 5%;
    right:0;
    height: 100%;
    width:35%;

/*    border: 1px solid black;*/
}
.personal-detail{
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}
.achivements{
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
    margin-top: 8%;   
}
.title{
    padding-top:3%;
    text-align: center;
}
.content{
    padding-left:5%;
    padding-bottom: 3%;
}
.card.bg-white.text-black{
    background-color: white;
    margin: 5% 2% !important;
}
.pagination{
    display: flex;
    justify-content: center;
}
.card-img-overlay{
    text-align: center;
}
.card-title{
    font-size: 30px;
    transition: 1s;
}
.hide{
    display: none;
}
.card-img-overlay:hover{
}
.card-img-overlay:hover .card-title{
    font-size: 25px;
}
.card-img-overlay:hover .hide{
    display:block;  
    font-style: italic;
}
.card-img-overlay:hover + .card-img{
    opacity: 0 ;
}
.card-img{
    opacity: 0.8 ;
}
.heading{
    font-family: "courseName";
    text-align: center;
    margin-top: 5%;
}
a:link{
    color:black;
    text-decoration: none;
}
a:hover {
  text-decoration: underline black;
}
.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 20px;
  border-radius: 100px;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(219, 211, 189);
}

/* The container <div> - needed to position the dropdown content */
.dropbox {
  position:absolute;
  left: 5vw;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
/*  min-width: 160px;*/
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  margin-top: 10px;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 100px;
  background-color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*.left {
    position: fixed;  or absolute 
    top: 20%;
    left: 10%;
    width: 40%;
    height: 70%;
    opacity: 0.7;
    box-shadow: 0 3px 10px rgba(0 ,0, 0,  0.2);

}
.right {
    background:rgb(237,237,237);
    text-align: center;
    position: fixed;  or absolute 
    top: 10%;
    right: 15%;
    width: 20%;
    height: 85%;
    box-shadow: 0 3px 10px rgba(0 ,0, 0,  0.2);
        
}
.middle-left{
    position: fixed;  or absolute 
    top: 24%;
    left: 20%;
    width: 20%;
    height: 30%;
    opacity: 0.7;
    text-align: center;

}
#img1{
    max-width:100%;
    max-height:200%;
}
.left-corner-l{
    position: fixed;  or absolute 
    top: 60%;
    font-weight:bold;
    left: 17%;
    width: 15%;
    height: 25%;
    opacity: 0.7;
    background-color: #f5f5f5;

}
#space{
    margin-bottom: 10%;
    margin-top: 15%;
    margin-left: 5%;
}
.left-corner-r{
    position: fixed;  or absolute 
    top: 60%;
    left: 36%;
    width: 10%;
    height: 25%;
    opacity: 0.7;
    background-color: #f5f5f5;
}
.box {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#img2{  
    margin-top:5%;
    margin-left: 5%;
    margin-bottom: 10%;
    width:80%;
    height:50px;
}
.course{
    background: rgba(178,178,178,0.3);
    border-radius: 25px;
    opacity: 0.7;
    box-shadow: 5px 10px 18px black;
    height: 50%;
    width: 70%;
    margin-bottom: 20%;
    margin-left: 15%;
}
.link{
    text-align: center;
}
.pagination {
    display: inline-block;
    margin-left: 10%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.content {
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.card:hover .content{
    transform: rotateY( 180deg ) ;
    transition: transform 0.3s;

}
.back {
    transform: rotateY( 90deg );
    backface-visibility: hidden ;
}
.card:hover .back{
    transform: rotateY( 180deg );
    backface-visibility: visible ;
}
.card:hover .front{
    transform: rotateY( 90deg ) ;
    transition: transform 0.1s;
    backface-visibility: hidden ;
}
.card:hover .course{
    box-shadow: 5px 10px 18px red;

}


.dropbtn {
  background-image: url("../img/menu.png");
  max-height: 50px;
    max-width: 50px;
  color: white;
 width: 50px;
 height: 50px;
position: absolute;
  border: none;
 margin-top: 40px;
 margin-left: 20px;
 z-index: 1;

}
.dropbtn:hover
{
    box-shadow:  5px 5px 5px 5px grey;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:30px;
  left:70px;
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
    display: inline-flex;
}
.coursename{
 margin-right: 120px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  right:40px;
  top:-15px;
}
.down {
  transform: rotate(45deg);

}*/