body
{
    background-color: white;

}
.left {
    position: fixed; /* or absolute */
    top: 20%;
    left: 10%;
    width: 40%;
    height: 70%;
    opacity: 0.7;
    box-shadow: 0 3px 10px rgba(0 ,0, 0,  0.2);

}
.right {
    background:rgb(237,237,237);
    text-align: center;
    position: fixed; /* or absolute */
    top: 10%;
    right: 15%;
    width: 20%;
    height: 85%;
    box-shadow: 0 3px 10px rgba(0 ,0, 0,  0.2);
        
}
.middle-left{
    position: fixed; /* or absolute */
    top: 24%;
    left: 20%;
    width: 20%;
    height: 30%;
    opacity: 0.7;
    text-align: center;

}
#img1{
    max-width:100%;
    max-height:200%;
}
.left-corner-l{
    position: fixed; /* or absolute */
    top: 60%;
    font-weight:bold;
    left: 17%;
    width: 15%;
    height: 25%;
    opacity: 0.7;
    background-color: #f5f5f5;

}
#space{
    margin-bottom: 10%;
    margin-top: 15%;
    margin-left: 5%;
}
.left-corner-r{
    position: fixed; /* or absolute */
    top: 60%;
    left: 36%;
    width: 10%;
    height: 25%;
    opacity: 0.7;
    background-color: #f5f5f5;
}
.box {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#img2{  
    margin-top:5%;
    margin-left: 5%;
    margin-bottom: 10%;
    width:80%;
    height:50px;
}
.course{
    background: rgba(178,178,178,0.3);
    border-radius: 25px;
    opacity: 0.7;
    box-shadow: 5px 10px 18px black;
    height: 50%;
    width: 70%;
    margin-bottom: 20%;
    margin-left: 15%;
}
.link{
    text-align: center;
}
.pagination {
    display: inline-block;
    margin-left: 10%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.content {
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.card:hover .content{
    transform: rotateY( 180deg ) ;
    transition: transform 0.3s;

}
.back {
    transform: rotateY( 90deg );
    backface-visibility: hidden ;
}
.card:hover .back{
    transform: rotateY( 180deg );
    backface-visibility: visible ;
}
.card:hover .front{
    transform: rotateY( 90deg ) ;
    transition: transform 0.1s;
    backface-visibility: hidden ;
}
.card:hover .course{
    box-shadow: 5px 10px 18px red;

}


.dropbtn {
  background-image: url("../img/menu.png");
  max-height: 50px;
    max-width: 50px;
  color: white;
 width: 50px;
 height: 50px;
position: absolute;
  border: none;
 margin-top: 40px;
 margin-left: 20px;
 z-index: 1;

}
.dropbtn:hover
{
    box-shadow:  5px 5px 5px 5px grey;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:30px;
  left:70px;
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
    display: inline-flex;
}
.coursename{
 margin-right: 120px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  right:40px;
  top:-15px;
}
.down {
  transform: rotate(45deg);

}