/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 24, 2022, 3:53:33 PM
    Author     : LENOVO
*/

@font-face {
    font-family: "courseName";
    src: url('../font/Game Of Squids.woff2') format('woff2');
}
.heading{
    margin-top: 30px;
    text-align: center;
    font-family:"courseName";
    color:white;
}

body{
    background-image: url(../img/backgroundnight.png);
    background-color: #cccccc;
    background-attachment: fixed;
    font-size: 14px;
}
.heading{
    margin-top: 30px;
    text-align: center;
    font-family:"courseName";
    color:white;
}
.card{
    margin-top: 10vh;
    background-color: rgba(255, 255, 255,.6);
}
.button{
    margin-top: 8vh;
    text-align: center;
}
.save{
    margin-top: 5vh;
    text-align: center;
}
.form-label{
    margin-top: 1vh;
}
.card-body.description{
    padding-bottom: 0 !important;
}