/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2022, 2:58:53 PM
    Author     : LENOVO
*/

body{
    margin:0;
    padding:0;
    color: black;
}


.background-img  {
    background-image: url("../img/background5.png");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    height: 100vh;

}
.top {
    height: 50vh;
}
.bot {
    height: 50vh;
 
}

.column{
  float: left;
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#playerchar{
    padding-top:50px;
}
