/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2022, 2:58:53 PM
    Author     : LENOVO
*/

body, html {
    height: 100%;
    margin: 0;
}

.background-img  {
    background-image: url("../img/background5.png");

    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.top {
    height: 50vh;
}
.bot {
    height: 30vh;

}

.column{
    float: left;
    width: 40%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#playerchar{
    padding-top:50px;
}

#Boss{
    position:relative;
    left:50%;

}
#table1{
     position:relative;
    left:60%;
    font-size: 30px;
}
.playerhp{
    position:relative;
    left:20%;
}
.ex{
    padding-bottom: 30px;
    font-size:50PX;
    margin-left:50%;
}
#question{
    font-size:50px;
}
#tdquestion {
    font-size: 24px;
}
input[type="submit"]
{   
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-left:10%;
    color:indigo;
    width: 50PX;
    height: 30px;
    background-color:  indigo;

}
.pagination a {
    color: black;
    padding-top: 10px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 30px;
    text-decoration: none;
    transition: background-color .3s;
}


.pagination a:hover:not(.active) {
    background-color: mediumspringgreen;

}
span
{
    font-size: 30px; 
}
#progressBar {
    width: 50%;

    background-color: #0a5f44;
}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px; 
    width: 0;
    background-color: #cbea00;
    box-sizing: border-box;
}


#answer{
    margin-top: 10px;
    font-size: 40px;
}

input[type="submit"]:hover
{   
    color:white;
    background-color: white;


}
#table2
{

font-family: “Open Sans”, sans-serif;
color: #f2606f;
text-shadow: 1px -3px 5px #fff, 1px -3px 11px #FF3, 1px -11px 21px         #F90, 1px -21px 41px #C33;

}
