/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2022, 2:58:53 PM
    Author     : LENOVO
*/


.top {
    height: 50vh;
     float: left;
  width: 50%;
  padding: 10px;
}
.bot {
    height: 50vh;
 
}

column{
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}