.add-comment-detail {
    height: 1em !important;
}

.add-comment-detail:focus {
    height: 5em !important;
}

body{
    background-image: url(../img/backgroundnight.png);
    background-color: #cccccc;
    background-attachment: fixed;
}