/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2022, 5:06:29 PM
    Author     : sioni
*/

body, html {
  height: 100%;
  margin: 0;
}

.background-img  {
    background-image: url("../img/background5.png");

  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.top {
    height: 50vh;
}
.bot {
    height: 30vh;

}
.column{
    float: left;
    width: 40%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
input[type=submit] {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 30px;
    padding-right: 20px;
    background-image: url("../img/meo.gif");

}