/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2022, 10:26:10 PM
    Author     : Linhnvhdev
*/
body{
    
}

.header{
    background-color: #99ffff;
    height: 100px;
}

.main-content{
    
    
    display: flex;
}

.left{
    padding:100px;
    background-color: #66ff66;
    flex:50%;
}

.right{
    padding:100px;
    background-color: #ffcccc;
    flex:50%;
}

.footer{
    background-color: #aaff44;
    height:100px;
}

